.list-knowledge-cards-explain {
  display: flex;
  justify-content: space-between;
  // flex-wrap: wrap;
  margin-top: 60px;
}

.knowledge-card {
  display: flex;
  align-items: center;
  flex-basis: 400px;
}

.knowledge-card-image {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  background-color: red;
}

.knowledge-card-text {
  word-wrap: break-word;
}
