.list-diagram-knowledge-card {
  margin-left: 100px;
}

.diagram-title {
  color: #3992af;
  margin-top: 25px;
}
.diagram-container {
  margin-left: 30px;
}
.diagram-row {
  display: flex;
  margin-top: 10px;
  height: 40px;
}
.diagram-icon {
  width: 25px;
  height: 40px;
  border-left: 3px dotted;
  border-bottom: 3px dotted;
}
.diagram-text {
  padding-top: 27px;
  margin-left: 5px;
}
