.head-explain-container {
  margin-top: 3rem;
  margin-left: 6rem;
  padding-bottom: 100px;
}

.head-explain-title {
  margin-bottom: 20px;
}
.head-explain {
  margin-top: 20px;
  display: flex;
}

.image-cards {
  width: 80px;
  height: 80px;
  margin-right: 50px;
  background-color: bisque;
}

.head-explain-text {
  word-wrap: break-word;
  max-width: 500px;
  font-size: 19px;
}
