.list-question {
  padding: 50px 0px;
  background-color: #f1f0eb;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question {
  background-color: white;
  padding: 30px;
}

.question-footer-buttons {
  display: flex;
  justify-content: center;
}
