.list-card {
  background-color: #eff0f4;
  border-top: 1px solid #e8e9ed;
  padding-top: 50px;
}

.card {
  display: flex;
}

.card-box-text-container {
  display: flex;
  flex-direction: column;
  flex-basis: 75%;
  margin-right: 10px;
}

.card-index {
  flex-basis: 250px;
  text-align: center;
  font-size: 25px;
}

.card-box-text {
  background-color: white;
  padding: 20px 60px 40px 80px;
  display: flex;
  flex-direction: column;
}

.notification-container {
  margin-left: -80px;
}

.card-question {
  margin-top: 30px;
}

.card-answer {
  margin-top: 40px;
  margin-bottom: 60px;
  font-size: 1.25rem;
}

.card-text-book-page {
  color: #0b799c;
  align-self: flex-end;
  font-size: 1.25rem;
}

.icon-move-page {
  color: #0b799c;
}

.card-icons-footer {
  display: flex;
  color: #0b799c;
  align-self: flex-end;
  font-size: 1.25rem;
  margin: 30px 30px 130px 30px;
}

.card-icon {
  margin-right: 10px;
}

.card-icon-text {
  margin-right: 10px;
}
